<!DOCTYPE html>
<html>
    <head>
        <title>Live Streaming</title>
       
    </head>
    <body>
        <button id='btn' onClick="showImage()">join</button>
        <img id="frame" src="">
        <script>
            const showImage = () => {
                let ws = new WebSocket("ws://192.168.43.192:8000/1/ws");
                    let image = document.getElementById("frame");
                    document.getElementById('btn').style.display= 'none';
                    image.onload = function(){
                        URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
                    } 
                    ws.onmessage = function(event) {
                        image.src = URL.createObjectURL(event.data);
                    };
            }
        </script>
          

                
               
                
          
        
       
    </body>
    
</html>